openai==1.52.0
pydantic==2.9.2
python-dotenv==1.0.1
azure-identity==1.19.0
streamlit==1.39.0
langchain==0.3.3
langchain-core==0.3.12
langchain-openai==0.2.2
langchain-community==0.3.2
python-dotenv==1.0.1
langchain-azure-dynamic-sessions==0.2.0
pandas==2.2.3