openai==1.55.1
pydantic==2.10.1
python-dotenv==1.0.1
streamlit==1.40.1
azure-identity==1.19.0
langchain==0.3.8
langchain-core==0.3.21
langchain-openai==0.2.10
langchain-community==0.3.8
langchain-azure-dynamic-sessions==0.2.0
pandas==2.2.3